@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-01: #3e92cc;
    --cor-02: #0a2463;
    --cor-03: #fffaff;
    --cor-04: #FFFAFA;
    --cor-05: #d8315b;
    --cor-06: #AE455F;
    --cor-07: #1e1b18;
    --fonte-principal: 'Amatic SC', Arial, Helvetica, sans-serif;
    --fonte-texto: 'Josefin Sans', Arial, Helvetica, sans-serif;
}

header {
    margin: 2rem 0 2rem 0;
}

header h1 {
    text-align: center;
    color: var(--cor-05);
    font-family: var(--fonte-principal);
    font-size: 3rem;
}

main {
    font-family: var(--fonte-texto);
}

main > section.input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    margin: 3rem 0 0 0;
}

input[type=text] {
    border: none;
    border-bottom: 1px solid black;

    width: 100%;
    max-width: 200px;

    text-align: center;
    font-family: var(--fonte-texto);
}

input[type=button] {
    background-color: var(--cor-05);
    color: white;
    
    padding: 8px 8px;
    border-radius: 1rem;
    box-shadow: 1px 1px 5px -1px #ae455f6c;
    
    font-weight: bold;
    font-family: var(--fonte-texto);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.274);
    font-size: .625rem;
    border: 1px solid var(--cor-07);

    width: 100%;
    max-width: 120px;
}

input[type=button]:hover {
    background-color: var(--cor-05);
    cursor: pointer;
    transition-duration: .8s;
}

input[type=text]:focus {
    outline: none;
    background-color: beige;
}

section.lista {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 400px;

    margin: auto;
    margin-top: 2.5rem;
    padding: 1rem;
    border-radius: .850rem;
    box-shadow: 1px 3px 8px -1px #d8315b40;

}

section.lista > h2 {
    text-align: center;
}

section.lista ul#lista-tarefas {
    list-style: none;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

section.lista ul#lista-tarefas > h2#titulo-tarefas {
    color: var(--cor-05);
    font-family: var(--fonte-principal);
    font-size: 2rem;

    margin: 1.2rem 0 1.2rem 0;
}

section.lista ul#lista-tarefas > li {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;

    padding: 1rem;
    margin: 1rem 0 0 0;
    border-radius: 1rem;
    border: 1px solid var(--cor-05);

    max-width: 100%;
    width: 330px;

    background-color: var(--cor-03);
}

ul#lista-tarefas > li > span.item_texto {
    text-transform: capitalize;
    font-family: var(--fonte-texto);
    font-size: .925rem;
    color: var(--cor-05);
}

ul#lista-tarefas > li > span.concluida {
    text-decoration: line-through;
    color: var(--cor-05);
    opacity: 0.7;
}

ul#lista-tarefas > li > div.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .425rem;
    border-radius: 1rem;
}

div#mensagem {
    display: flex;
    justify-content: center;
    align-items: center;
}
